/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Login Container */
.login-container {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
    width: 100%;
    max-width: 400px;
}

/* Form */
.login-form {
    margin-bottom: 20px;
}

.login-form label {
    display: block;
    margin-bottom: 5px;
}

.login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.login-form button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.login-form button:hover {
    background-color: #0056b3;
}

/* Social Login Buttons */
.social-login {
    margin-top: 20px;
}

.social-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    background-color: #fff;
}

.social-button img {
    width: 58px;
    height: 54px;
    margin-right: 10px;
}

.google {
    border-color: #db4437;
    width: 100%;
    /* 330px; */
}

.microsoft {
    border-color: #00a4ef;
    width: 100%;
    /* width: 330px; */
}

.apple {
    border-color: #000;
    width: 100%;
    /* width: 330px; */
}



/* Links */
a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
